body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    background: linear-gradient(to bottom, #f7f7f7, #ccc, #aaa);
}

tr {
    border-radius: 0.5pc;
}
td {
    border: 10px solid #efb539;

    padding: 10px;
}
th {
    background-color: #fff;

    border: 10px solid #efb539;
    text-align: center;
}
.nombre {
    background-color: #fff;

    width: 75%;
    text-align: start;
}
.precio {
    width: auto;
    text-align: center;
}
table {
    width: 70%;
    max-width: 800px;
    margin-inline: auto;
    box-shadow: 0 0 10px black;
}
.listaPrecio {
    text-align: center;
    width: 70%;
    margin: 1rem;
    max-width: 800px;
    margin-inline: auto;
}
.mainPrecio {
    padding-bottom: 4rem;
}

header {
    background: linear-gradient(to bottom, #87ceeb, #78a8d0, #6ca2f3);
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 10px black;
}
footer {
    background: linear-gradient(to bottom, #87ceeb, #78a8d0, #6ca2f3);
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 10px black;
}
